@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


.MuiPaper-root {
    background-color: "#263238" !important;
    color: "#263238" !important;
}

.middle {
    top: 50%;
}